@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
}


/*********** Start header **********/

.logo {
    position: absolute;
    height: 16vh;
    width: 21vw;
    top: -2px;
    left: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F0704;
    height: 8vh;
    width: 100%;
}

.navbar {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.navbar li {
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    color: #F5EDE1;
}



/*********** End header **********/


/*********** Start contact-section **********/

.contact-info {
    width: 90%;
    max-width: 500px;
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
}

.contact-info h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #F5EDE1;
}

.contact-info p {
    font-size: 16px;
    line-height: 1.6;
    color: #ddd;
    max-width: 100%;
    font-family: "poppins";
}

.contact-form {
    background-color: #2B211B;
    padding: 30px;
    border-radius: 10px;
    width: 70%;
    max-width: 500px;
    margin-top: 2%;
    margin-bottom: 4%;
}

.contact-form h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.contact-form p {
    color: #ddd;
    margin-bottom: 20px;
    font-size: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    gap: 10px;
}

.form-group input {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #382E28;
    color: #fff;
}
input::placeholder{
    font-family: "poppins";
}
textarea::placeholder{
    font-family: "poppins";
}

textarea {
    height: 100px;
    resize: none;
}

button {
    padding: 10px;
    background-color: #ff7b42;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Media Queries */

@media (max-width:650px) {
    .contact-section {
        display: flex;
        flex-wrap: wrap;
        background-color: #41332b;
        width: 100%;
        height: auto;
        min-height: 92vh;
        background-size: cover;
        background-position: center;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        /* padding: 0px 2.5% 0px 2.5%; */
    }
}

@media (min-width: 651px) {
    .contact-section {
        display: flex;
        flex-wrap: wrap;
        background-image: url(images/bg1.svg);
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
        min-height: 92vh;
        background-size: cover;
        background-position: center;
        align-items: center;
        justify-content: center;    
        flex-direction: row;
    }

    .contact-info {
        width: 40%;
        text-align: left;
        padding-right: 20px;
    }

    .contact-info h1 {
        font-size: 70px;
    }

    .contact-form {
        width: 35%;
    }
}

@media (min-width: 1024px) {
    .contact-info h1 {
        font-size: 100px;
    }

    .contact-form {
        width: 30%;
    }

    .contact-section {
        display: flex;
        flex-wrap: wrap;
        background-image: url(images/bg1.svg);
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
        min-height: 92vh;
        background-size: cover;
        background-position: center;
        align-items: center;
        justify-content: center;
        gap: 5%;
    }
}



/***************************Start footer**********************************/

footer {
    background-color: #241A18;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.list, .social-media {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.list li, .social-media li {
    margin: 0 10px;
}

.list a, .social-media a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.social-media img {
    width: 24px;
    height: 24px;
}

p {
    margin-top: 20px;
    font-size: 14px;
    width: 100%;
    text-align: center;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
    }

    .list, .social-media {
        justify-content: center;
    }

    .list li, .social-media li {
        margin: 10px 0;
    }

    p {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .social-media img {
        width: 20px;
        height: 20px;
    }

    p {
        font-size: 12px;
    }
}


@media (max-width :320px) {
    .navbar a {
        margin-right: 10px;
    }
