body {
    margin: 0;
    padding: 0;
}

.logo {
    position: absolute;
    height: 16vh;
    width: 32vw;
    top: -2px;
    left: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F0704;
    height: 8vh;
    width: 100%;
}

.navbar {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.navbar li {
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    color: #F5EDE1;
    font-size: 80wv;
}

.slider-section {
    background-color: #4A332A;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-wrapper {
    overflow-x:  hidden;
    width: 40%  ;
}

.slider-content {
    position: relative;
    width: 500%;
    animation: 20s slider infinite;
}
    